body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        "block-1 block-1 block-1"
        "block-2 block-3 block-4"
        "block-2 block-5 block-4"
        "block-6 block-6 block-4";

    grid-template-rows: 150px 5fr 1fr 150px;;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

.block {
    padding: 20px;
}

.block-1 {
    display: flex;
    align-items: center;
    grid-area: block-1;
    background-color: #216869;
    color: #eef0eb;
}

.block-2 {
    grid-area: block-2;
    background-color: #9cc5a1;
    font-size: 20px;
}

.block-3 { grid-area: block-3; background-color: white; }
.block-4 { grid-area: block-4; background-color: #9cc5a1; }
.block-5 { grid-area: block-5; background-color: #49a078; }

.block-6 {
    display: flex;
    align-items: center;
    grid-area: block-6;
    background-color: #216869;
    color: #eef0eb;
}

.image-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: 640px;
}

h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}
