body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
}

.block {
    padding: 20px;
    box-sizing: border-box;
}

.block-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: #216869;
    color: #eef0eb;
    text-align: left;
    padding-left: 10px;
}

.block-1 h1 {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.block-2 {
    position: absolute;
    top: 150px;
    left: 0;
    width: 16%;
    height: calc(100% - 150px);
    background-color: #9cc5a1;
    padding: 20px;

}

.block-2 ol {
    font-size: 20px;
    left: 20px;
}

.block-3 {
    position: absolute;
    top: 150px;
    left: 18.33%;
    width: 50%;
    height: calc(100% - 300px);
    background-color: white;
    padding: 20px;
}

.block-4 {
    position: absolute;
    top: 150px;
    right: 0;
    width: 16%;
    height: 100%;
    background-color: #9cc5a1;
    padding: 20px;
}

.block-5 {
    position: absolute;
    bottom: -40px;
    left: 18.33%;
    width: 61%;
    height: 110px;
    background-color: #49a078;
    padding: 20px;
}

.block-6 {
    position: absolute;
    bottom: -190px;
    left: 0;
    right: 18.33%;
    height: 150px;
    background-color: #216869;
    color: #eef0eb;
    text-align: center;
}

.block-6 h1 {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.image-container img {
    display: block;
    margin: 0 auto;
    width: 1024px;
    height: 640px;
}

h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}
